<?xml version="1.0"?>
<launch>
    <arg name="limited" default="true" doc="If true, limits joint range [-PI, PI] on all joints."/>
    <arg name="paused" default="true" doc="Starts gazebo in paused mode"/>
    <arg name="gui" default="true" doc="Starts gazebo gui"/>
    <arg name="grippers" default="0" doc="Spawn grippers or not. 0 - none, 1 - left only, 2 - right only, 3 - both"/>

    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="worlds/empty.world"/>
        <arg name="paused" value="$(arg gui)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- send robot urdf to param server -->
    <include file="$(find ur_description)/launch/xamyab_upload.launch">
        <arg name="limited" value="$(arg limited)"/>
        <arg name="grippers" value="$(arg grippers)"/>
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model robot
        -J left_shoulder_lift_joint -1.57079632679
        -J left_wrist_1_joint -1.57079632679
        -J right_shoulder_lift_joint -1.57079632679
        -J right_wrist_1_joint -1.57079632679
        -unpause" respawn="false" output="screen"/>

    <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

    <rosparam file="$(find ur_gazebo)/controller/arm_controller_xamyab.yaml" command="load"/>
    <node name="left_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn left_arm"
          respawn="false" output="screen"/>
    <node name="right_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn right_arm"
          respawn="false" output="screen"/>

    <node name="lgripper_controller_spawner" pkg="controller_manager" type="controller_manager"
          args="spawn left_gripper" respawn="false" output="screen"
          if="$(eval grippers == 1 or grippers == 3)"/>
    <node name="rgripper_controller_spawner" pkg="controller_manager" type="controller_manager"
          args="spawn right_gripper" respawn="false" output="screen"
          if="$(eval grippers == 2 or grippers == 3)"/>
</launch>
